body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.header-container{
  height: 60px;
  border-bottom: 1px solid rgba(189, 187, 187, 0.378);
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  font-size: 25px;
}

.logo-info{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo{
  height:32px;
  width: 32px;
  padding-right: 5px;
}

.logo-name{
  margin: 0;
}

.header-list{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-list p{
  margin-right: 20px;
}

.my-info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-info div{
  margin-right: 30px;
}

.github-info{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gmail-info{
  display: flex;
  justify-content: center;
  align-items: center;
}
